body {
	background: #eee;
}

h1 {
	color: blue;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

button {
	width: 120px;
}

#taco-truck-scene {
	font-family: 'Roboto', sans-serif;
	background: blue;
	border: 5px solid black;
	height: 400px;
	width: 800px;
	margin: 0 auto;
}

.controls-container {
	font-family: 'Roboto', sans-serif;
	display: flex;
  	flex-wrap: nowrap;
	text-align: center;
	margin: 0 auto;
	width: 810px;
	background: #eee;
}

.start-button, .end-of-day {
	text-align: center;
	color: white;
	height: 200px;
	width: 350px;
	margin: 0 auto;
	background-color: orange;
	padding: 15px;
	border: 5px solid white;
	border-radius: 10px;
	margin-top: 20px;
}

.prices, .customer-orders, .inventory {
	text-align: center;
	width: 33.333%;
	padding: 0;
	height: 140px;
	display: inline-block;
}

.prices {
	border-left: 5px solid black;
	line-height: 30px;
}

.customer-orders {
	border-right: 5px solid black;
	border-left: 5px solid black;
	line-height: 20px
}

.inventory {
	border-right: 5px solid black;
	line-height: 28px;
}

#buy-ingredients {
	font-family: 'Roboto', sans-serif;
	display: flex;
  	flex-wrap: nowrap;
	text-align: center;
	margin: 0 auto;
	width: 810px;
	background: #eee; 
}

.cost-per-pound, .servings-per-pound, .buy-buttons {
	text-align: center;
	width: 33.333%;
	padding: 0;
	height: 100px;
	display: inline-block;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	line-height: 19px;
}

.cost-per-pound{ 
	border-left: 5px solid black;
}

.servings-per-pound {
	border-left: 5px solid black;
	border-right: 5px solid black;
}

.buy-buttons {
	border-right: 5px solid black;
	align-items: center; 
}

#day-loading-bar {
	border: 2px solid black;
	height: 10px;
	width: 700px;
	margin: 0 auto;
	margin-top: 10px;
}

#percent-progress {
	background-color: cyan;
	height: 10px;
	width: 700px;
}

