body {
  background: #00aedb;
  margin: 0;
  font-family: "Baloo Chettan", cursive;
  color: #ffc425;
}

.buttons {
  background-color: white;
  display: inline-block;
  width: 49%;
}

.info {
  text-align: center;
  background-color: white;
  display: inline-block;
  width: 49%;
}

h1 {
  color: #ffc425;
  text-align: center;
  font-size: 72px;
  margin: 0 auto;
}

button {
  width: 120px;
}

.customer {
  position: absolute;
  z-index: 2;
}

.noncustomer {
  position: absolute;
  z-index: 2;
}

@keyframes strollLeft {
  from {
    right: -120px;
  }
  to {
    right: 850px;
  }
}

.moving-left-passerby {
  animation-name: strollLeft;
  animation-duration: 5s;
  position: absolute;
  z-index: 2;
}

@keyframes strollRight {
  from {
    left: -120px;
  }
  to {
    left: 850px;
  }
}

.moving-right-passerby {
  animation-name: strollRight;
  animation-duration: 5s;
  position: absolute;
  z-index: 2;
}

@keyframes buyLeft {
  from {
    right: -120px;
  }
  to {
    right: 300px;
  }
}

.moving-left-to-buy {
  animation-name: buyLeft;
  animation-duration: 3s;
  position: absolute;
  z-index: 2;
}

@keyframes buyRight {
  from {
    left: -120px;
  }
  to {
    left: 280px;
  }
}

.moving-right-to-buy {
  animation-name: buyRight;
  animation-duration: 3s;
  position: absolute;
  z-index: 2;
}

@keyframes withTacoLeft {
  from {
    right: 300px;
  }
  to {
    right: 850px;
  }
}

.moving-left-with-taco {
  animation-name: withTacoLeft;
  animation-duration: 3s;
  position: absolute;
  z-index: 2;
}

@keyframes withTacoRight {
  from {
    left: 280px;
  }
  to {
    left: 850px;
  }
}

.moving-right-with-taco {
  animation-name: withTacoRight;
  animation-duration: 3s;
  position: absolute;
  z-index: 2;
}

@keyframes stillLeft {
  from {
    right: 300px;
  }
  to {
    right: 300px;
  }
}

.stillBuyingLeft {
  animation-name: stillLeft;
  animation-duration: 2s;
  top: 187px !important;
  right: 300px !important;
  z-index: 2;
  position: absolute;
}

@keyframes stillRight {
  from {
    left: 280px;
  }
  to {
    left: 280px;
  }
}

.stillBuyingRight {
  animation-name: stillRight;
  animation-duration: 2s;
  top: 180px !important;
  left: 270px !important;
  z-index: 2;
  position: absolute;
}
#taco-truck-scene {
  position: relative;
  background-image: url("../img/background.jpg");
  background-size: 90%;
  border: 5px solid#d11141;
  height: 400px;
  width: 800px;
  margin: 0 auto;
  z-index: 1;
}

#frame {
  width: 1250px;
  margin: 0 auto;
}

#left-border,
#right-border {
  position: relative;
  background: #00aedb;
  width: 200px;
  height: 410px;
  top: -406px;
  margin: 0;
  z-index: 3;
  display: inline-block;
}

#left-border {
  margin-right: -8px;
  border-right: 5px solid#d11141;
  margin-left: auto;
}

#right-border {
  margin-left: -9px;
  border-left: 5px solid #d11141;
  margin-right: auto;
}

#game-container {
  display: inline-block;
}

#day-display {
  text-align: center;
}

#displaycountdown {
  display: fixed;
  bottom: 5px;
  text-align: center;
}

.controls-container {
  font-size: 24px;
  /* font-family: "Roboto", sans-serif; */
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  margin: 0 auto;
  width: 810px;
  background: #00b159;
  min-height: 20vh;
}

.start-button,
.end-of-day {
  text-align: center;
  /* font-family: "Baloo Chettan", cursive; */
  color: #ffc425;
  height: 200px;
  width: 350px;
  margin: 0 auto;
  background-color: #00b159;
  padding: 15px;
  border: 5px solid #d11141;
  border-radius: 10px;
  margin-top: 20px;
  z-index: 1;
}

.customer-orders,
.inventory {
  text-align: center;
  width: 50%;
  padding: 0;
  display: inline-block;
}
/* 
.prices {
  border-left: 5px solid #d11141;
  line-height: 30px;
} */

.customer-orders {
  border-right: 5px solid #d11141;
  border-left: 5px solid #d11141;
  /* line-height: 20px; */
}

.inventory {
  border-right: 5px solid #d11141;
  line-height: 4vh;
}

#buy-ingredients {
  min-height: 200px;
  font-size: 24px;
  /* align-content: center; */
  flex-wrap: nowrap;
  text-align: right;
  margin: 0 auto;
  width: 800px;
  background: #00b159;
  border: 5px solid #d11141;
  line-height: 4vh;
}

#buy-ingredients div {
  margin-right: 25%;
}

.underlined {
  text-decoration: underline;
}

.buy-button {
  border: 3px solid #ffc425;
  border-radius: 2px;
  font-family: "Baloo Chettan", cursive;
  color: #ffc425;
  background-color: #00aedb;
  height: 38px;
  width: 150px;
  font-size: 24px;
  line-height: 30px;
}

.buy-button:hover {
  color: #00aedb;
  background-color: #eee;
}

.cost-per-pound,
.servings-per-pound {
  text-align: center;
  padding: 0;
  height: 200px;
  display: inline-block;
  border-top: 5px solid #d11141;
  border-bottom: 5px solid #d11141;
  line-height: 19px;
}

.cost-per-pound {
  border-left: 5px solid #d11141;
}

.servings-per-pound {
  border-left: 5px solid #d11141;
  border-right: 5px solid #d11141;
}

#day-loading-bar {
  border: 2px solid #ddd;
  height: 10px;
  width: 700px;
  margin: 0 auto;
  margin-top: 10px;
}

#percent-progress {
  background-color: #00b159;
  height: 10px;
  width: 700px;
}

/* Mobile CSS Settings!!!! */

@media only screen and (max-width: 800px) {
  #left-border,
  #right-border {
    display: none;
  }

  #frame {
    width: 100vw !important;
  }

  #buy-ingredients {
    min-height: 30vh;
    font-size: 36px;
  }

  #buy-ingredients div {
    margin-right: 25vw;
  }

  .buy-button {
    height: 7vh;
    width: 40vw;
    font-size: 28px;
  }

  .inventory {
    line-height: 6vh;
  }
}
